@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    @apply bg-neutral-800 text-white;
    --primary-text: #fff;
    --secondary-text: #ddd;
    --accent: #00ff95;
    --accent-text: #fff;
    --primary-bg: #01161E;
    --secondary-bg: #124559;
    --border-color: #555;
    --hover: #124559bb;
}

.light {
    @apply bg-gray-100 text-black;
    --accent: #35CE8D;
}